SerialToIRMobile/src/main/resources/wsdl/ArduinoWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://arduinows.p90puma.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://arduinows.p90puma.com/" name="ArduinoWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://arduinows.p90puma.com/" schemaLocation="http://localhost:8084/ArduinoWS/ArduinoWSService?xsd=1" />
</xsd:schema>
</types>
<message name="SendSerialInput">
<part name="parameters" element="tns:SendSerialInput" />
</message>
<message name="SendSerialInputResponse">
<part name="parameters" element="tns:SendSerialInputResponse" />
</message>
<message name="SetupArduinoSerial">
<part name="parameters" element="tns:SetupArduinoSerial" />
</message>
<message name="SetupArduinoSerialResponse">
<part name="parameters" element="tns:SetupArduinoSerialResponse" />
</message>
<message name="closeArduinoSerial">
<part name="parameters" element="tns:closeArduinoSerial" />
</message>
<message name="closeArduinoSerialResponse">
<part name="parameters" element="tns:closeArduinoSerialResponse" />
</message>
<message name="getSerialPortNames">
<part name="parameters" element="tns:getSerialPortNames" />
</message>
<message name="getSerialPortNamesResponse">
<part name="parameters" element="tns:getSerialPortNamesResponse" />
</message>
<portType name="ArduinoWS">
<operation name="SendSerialInput">
<input message="tns:SendSerialInput" />
<output message="tns:SendSerialInputResponse" />
</operation>
<operation name="SetupArduinoSerial">
<input message="tns:SetupArduinoSerial" />
<output message="tns:SetupArduinoSerialResponse" />
</operation>
<operation name="closeArduinoSerial">
<input message="tns:closeArduinoSerial" />
<output message="tns:closeArduinoSerialResponse" />
</operation>
<operation name="getSerialPortNames">
<input message="tns:getSerialPortNames" />
<output message="tns:getSerialPortNamesResponse" />
</operation>
</portType>
<binding name="ArduinoWSPortBinding" type="tns:ArduinoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="SendSerialInput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SetupArduinoSerial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="closeArduinoSerial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSerialPortNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ArduinoWSService">
<port name="ArduinoWSPort" binding="tns:ArduinoWSPortBinding">
<soap:address location="http://localhost:8084/ArduinoWS/ArduinoWSService" />
</port>
</service>
</definitions>