ArduinoWSBasicClient/src/main/webapp/WEB-INF/wsdl/localhost_41166/ArduinoWS/ArduinoWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://arduino.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://arduino.me.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="SendSerialInput" type="tns:SendSerialInput" />

<xs:element name="SendSerialInputResponse" type="tns:SendSerialInputResponse" />


<xs:element name="addResponse" type="tns:addResponse" />

<xs:complexType name="SendSerialInput">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SendSerialInputResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

</xs:schema>